.scroll-area {

}

/* Personalize a barra de rolagem vertical */
.scroll-area::-webkit-scrollbar {
  width: 4px;
}

.scroll-area::-webkit-scrollbar-track {
  background-color: transparent;
  /* background-color: #f1f1f1;  */
}

.scroll-area::-webkit-scrollbar-thumb {
  background-color: #565656; /* Cor do botão de rolagem */
  border-radius: 6px; /* Borda arredondada do botão de rolagem */
}

.scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: #585858; /* Cor do botão de rolagem ao passar o mouse */
}